//-doctype html
//-html
//-	head
//-		title Homepage
//-	body
//-		form(action="/request", method="get")
//-			input(type="submit")
//-

doctype html
html
	head
		title Inicio
		style
			include style/style.css
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
	body
		a(href="/Twitter") plox
		div#contenedor
			h1 Vendedor
			form(action="/Insert", method="get")
				input(type="hidden", name="tabla", value='vendedor')
				input#tabla(type="submit", value="Ingresar vendedor")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="vendedor")
				input#tabla(type="submit", value="Mostrar vendedores")
		div#contenedor
			h1 Cliente
			form(action="/Insert", method="get")
				input(type="hidden", name="tabla", value='cliente')
				input#tabla(type="submit", value="Ingresar cliente")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="cliente")
				input#tabla(type="submit", value="Mostrar clientes")
		div#contenedor
			h1 Vuelos
			form(action="/Insert", method="get")
				input(type="hidden", name="tabla", value='vuelo')
				input#tabla(type="submit", value="Ingresar vuelo")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="vuelo")
				input#tabla(type="submit", value="Mostrar vuelos")
				
		//- Esto va tener una direccion especial
		div#contenedor
			h1 Paquete
			form(action="/InsertPaquete", method="get")
				input(type="hidden", name="tabla", value='paquete')
				input#tabla(type="submit", value="Ingresar paquete")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="paquete")
				input#tabla(type="submit", value="Mostrar paquetes")
		
		//- Esto va tener una direccion especial
		div#contenedor
			h1 Venta
			form(action="/InsertVenta", method="get")
				input(type="hidden", name="tabla", value='venta')
				input#tabla(type="submit", value="Ingresar venta")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="venta")
				input#tabla(type="submit", value="Mostrar ventas")
		div#contenedor
			h1 Extras
			form(action="/Insert", method="get")
				input(type="hidden", name="tabla", value='extras')
				input#tabla(type="submit", value="Ingresar extras")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="extras")
				input#tabla(type="submit", value="Mostrar extras")
		div#contenedor
			h1 PaqueteExtras
			form(action="/Insert", method="get")
				input(type="hidden", name="tabla", value='paqueteextras')
				input#tabla(type="submit", value="Ingresar extras")
			br
			form(action="/Show", method="get")
				input(type="hidden", name="tabla", value="paqueteextras")
				input#tabla(type="submit", value="Mostrar extras")
