//-doctype html
//-html
//-	head
//-		title Homepage
//-	body
//-		form(action="/request", method="get")
//-			input(type="submit")
//-

doctype html
html
head
	title Inicio
body
	h1 Vendedor
	a(href='/vendedorInsert') Insertar
	br
	a(href='/showVendedor') Mostrar