//-doctype html
//-html
//-	head
//-		title Homepage
//-	body
//-		form(action="/request", method="get")
//-			input(type="submit")
//-

doctype html
html
head
	title Inicio
body
	h1 Vendedor
	form(action="/vendedorInsert", method="get")
		input(type="hidden", name="tabla", value='vendedor')
		input(type="submit", value="Ingresar vendedor")
	br
	a(href='/showVendedor') Mostrar
