doctype html
html
	head
		title Homepage
	body
		table(border = '1')
			each tupla in elementos
				tr
					each elemento, nombre in tupla
						td #{elemento}
					td 
						a(href='/eliminarVendedor?id=' + tupla[Object.keys(tupla)[0]]) delete
