doctype html
html
	head
		title Homepage
	body

p Ordenar Informacion de la Base de datos
	li
		form(action="/showVendedor", method="get")
			input(type="checkbox", name="id")
			input(type="checkbox", name="nombre")
			input(type="checkbox", name="apellido")
			input(type="checkbox", name="f_nacimiento")
			input(type="submit", value="Filtrar")
			
		a(href='/showVendedorperName') Ordenar por Nombre

		table(border = '1')
			each tupla in elementos
				tr
					each elemento, nombre in tupla
						td #{elemento}
					td
						form(action="/eliminarVendedor", method="get")
							input(type="hidden", name=Object.keys(tupla)[0], value=tupla[Object.keys(tupla)[0]])
							input(type="submit", value="Delete")
