doctype html
html
head
  title Homepage
  style
    include style/show.css
  link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
body

    div#contenedor
      h1 Usuarios Disponibles
      each user in users
        -var nombre = ""
        form(action="/TweetsPerUser", method="get")
          each valor, atributo in user
            input(type="hidden",id=atributo name=atributo, value=valor)
            -nombre += valor + ","
          input(type="submit", value=nombre)
