doctype html
html
	head
		title Homepage
	body

p Ordenar Informacion de la Base de datos
	li
		a(href='/showVendedorperName') Ordenar por Nombre

		table(border = '1')
			each tupla in elementos
				tr
					each elemento, nombre in tupla
						td #{elemento}
					td
						form(action="/eliminarVendedor", method="get")
							input(type="hidden", name=Object.keys(tupla)[0], value=tupla[Object.keys(tupla)[0]])
							input(type="submit", value="Delete")
