doctype html
html
	head
		title Tweets Per User
		style
			include style/show.css
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
	body
		div#contenedor
			h1 User Twitter
			each tweet in tweets
				input#data(type="text", name=tweet, placeholder=tweet, value=tweet)
			
	          
          
