doctype html
html
	head
		title Homepage
	body
		form(action="/datoIngresadoVendedor", method="get")
			each tupla in elementos
				each elemento, nombre in tupla
					input(id=nombre, type="text", name=nombre, placeholder=nombre)
			input(type="submit")
