body {
  background-color: #37474F;
  color: #000;
  font-family: 'Roboto';
}

div#contenedor{
  background-color: #fff;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 5px 30px 30px 30px;
  box-shadow: 5px 10px 20px #000;
  transition: all 0.5s ease 0s;
  margin-top: 35px;
  align-content: center;
  resize: horizontal;
  overflow: auto;
}

td#title{
  background-color: #37474F;
}

text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

div#contenedor:hover{
  box-shadow: 10px 20px 30px #000;
}

input.button{
  margin: auto;
  padding: 8px 8px 8px 8px;
  border: 0;
  font-family: 'Roboto';
}

input#update{
  background: #fff;
  color: #43A047;
  box-shadow: inset 0 0 0 4px #43A047;
}

input#delete{
  background: #fff;
  color: #F44336;
  box-shadow: inset 0 0 0 4px #F44336;
}

input#update:hover{
  box-shadow: 2px 3px 8px #000;
  background: #43A047;
  color: white;
}

input#delete:hover{
  box-shadow: 2px 3px 8px #000;
  background: #F44336;
  color: white;
}

input#filtrar{
  background: #fff;
  color: #3F51B5;
  box-shadow: inset 0 0 0 4px #3F51B5;
}

input#filtrar:hover{
  box-shadow: 2px 3px 8px #000;
  background: #3F51B5;
  color: white;
}

input#data{
  width: 120px;
  font-family: "Roboto", "Droid Sans", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 8px 8px 6px 8px;
	position: relative;
	display: block;
	outline: none;
	border: none;
	background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}

input#data:hover, input#data:focus{
  background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}

input.holo[type='text'] {
	/* You can set width to whatever you like */
    width: 200px;

}
input.holo[type='text']:hover, input.holo[type='text']:focus {
	background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
	background-size: 1px 6px, 1px 1px, 1px 6px;
}

td {
  padding: 3px 5px 3px 5px;
}
